@font-face {
    font-family: "web-fontmin";
    src: url("/fonts/web-fontmin.eot"); /* IE9 */
    src: url("/fonts/web-fontmin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/web-fontmin.woff") format("woff"), /* chrome, firefox */
    url("/fonts/web-fontmin.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("/fonts/web-fontmin.svg#Meiryo") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


//@font-face {
//    src: url("/fonts/Meiryo Bold Italic.eot"); /* IE9 */
//    src: url("/fonts/Meiryo Bold Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
//    url("/fonts/Meiryo Bold Italic.woff") format("woff"), /* chrome, firefox */
//    url("/fonts/Meiryo Bold Italic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
//    url("/fonts/Meiryo Bold Italic.svg#Meiryo") format("svg"); /* iOS 4.1- */
//    font-style: normal;
//    font-weight: normal;
//}


//@font-face {
//    font-family: "web-fontmin";
//    src: url("/fonts/Meiryo Bold Italic.eot"); /* IE9 */
//    src: url("/fonts/Meiryo Bold Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
//    url("/fonts/Meiryo Bold Italic.woff") format("woff"), /* chrome, firefox */
//    url("/fonts/Meiryo Bold Italic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
//    url("/fonts/Meiryo Bold Italic.svg#Meiryo Bold Italic") format("svg"); /* iOS 4.1- */
//    font-style: normal;
//    font-weight: normal;
//}
