<!doctype html>
<html>

  <head>
    <title>
      xgsdk首页
    </title>
    <link rel='stylesheet' href='bower_components/normalize-css/normalize.css'/>
    <link rel='stylesheet' href='/css/app.css'/>
  </head>

  <body>
    <div class="container">
      i
    </div>
    <!-- build:js /js/libs.min.js -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
    <!-- endbuild -->
  </body>

</html>
