@font-face {
    font-family: "MFinance HK Bold";
    src: url("/fontmin/ef76d3a0-e54e-11e5-b56f-4105d8fe5182/web-fontmin.eot"); /* IE9 */
    src: url("/fontmin/ef76d3a0-e54e-11e5-b56f-4105d8fe5182/web-fontmin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fontmin/ef76d3a0-e54e-11e5-b56f-4105d8fe5182/web-fontmin.woff") format("woff"), /* chrome, firefox */
    url("/fontmin/ef76d3a0-e54e-11e5-b56f-4105d8fe5182/web-fontmin.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("/fontmin/ef76d3a0-e54e-11e5-b56f-4105d8fe5182/web-fontmin.svg#MFinance HK Bold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


